GITHUB_TOKEN=your_github_token_here
ANTHROPIC_API_KEY=your_anthropic_key_here
JIRA_BASE_URL=https://ust-pace.atlassian.net
JIRA_EMAIL=your_email_here
JIRA_API_TOKEN=your_jira_token_here
TEAMS_WEBHOOK_URL=your_teams_webhook_here